<h1 [class.heading]="1+2>5" >HomePage</h1>
<h1 [ngClass]="{heading: appUser.age>5}">Page</h1>
<div>
  <h2>{{ 2+2 }}</h2>
</div>
<h3>{{ headingTitle + "plus name" }}</h3>
<h3>{{headingTitle}} plus name</h3>
<span> name: {{ appUser.name}}</span>
<br>
<span>age: {{ appUser.age}}</span>
<img src="favicon.ico" alt="angular logo" width="100px">

<!-- Directives -->
@for (name of nameList; track $index) {
  <h5>{{name | uppercase }}</h5>
}
@if (nameList.length == 3) {
  <h1> array size 3</h1>
}

<ParentComponent />

